body,
html {
    margin: 0px;
    background-color: #F7F8FA;
}

#table-wrap {
    min-height: 65vh;
    background-color: #FFF;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 1px solid #E7EAEC;
    margin-top: 20px;
}

table {
    text-align: left;
    font-family: Roboto;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E7EAEC;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #69708A;
    font-weight: 500;
    font-size: 14px;
}

td {
    max-width: 250px;
    overflow-wrap: break-word;
}

th,
td {
    padding: 15px;
}

tr {
    border-bottom: 1px solid #E7EAEC;
}

button {
    background: #E7EAEC;
    color: #69708A;
    font-weight: 700;
    border: 0px;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    cursor: pointer;
    opacity: .7;
}

td {
    font-size: 14px;
}

textarea {
    width: -webkit-fill-available;
    border: 1px solid #E7EAEC;
    font-family: "Roboto";
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.save-card {
    background-color: #5BC36E;
    color: #FFF;
}

.edit-off {
    background-color: #AEDAA3 !important;
}